//
   Created by kevinGphillips on 9/11/15.
doctype html
html
   head

      //link(rel='stylesheet', href='static/css/normalize.css')
      link(rel='stylesheet', href='static/js/expandable-image-grid-master/grid.css')

      // Local bootstrap css
      link(rel='stylesheet', href = 'static/js/bootstrap_compiled/css/bootstrap.css')
      link(rel='stylesheet', href='static/css/main.css')
      link(rel='stylesheet', href='static/css/responsive.css')
      // bootstrap for responsive menu
       link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")

      // Local bootstrap fonts and glyphcons
      link(rel='stylesheet', href = 'static/js/bootstrap_compiled/fonts/glyphicons-halflings-regular.css')
      link(href='https://fonts.googleapis.com/css?family=Lora', rel='stylesheet', type='text/css')
      title Old Astoria
   body

      header
         a(href='/')
            h1 Old Astoria
         #littlebits
            | a mapping of historical photos
            br
            | from the &nbsp
            a(href='http://www.cumtux.org/', target='_blank') CCHS
            | &nbsp &amp &nbsp
            a(href='http://www.crmm.org/', target='_blank') CRMM

         .twitterButton
                 a.twitter-share-button(href='https://twitter.com/share', data-hashtags='oldastoria') Tweet
                 script.
                     !function (d, s, id) {
                         var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
                         if (!d.getElementById(id)) {
                             js = d.createElement(s);
                             js.id = id;
                             js.src = p + '://platform.twitter.com/widgets.js';
                             fjs.parentNode.insertBefore(js, fjs);
                         }
                     }(document, 'script', 'twitter-wjs');

         .fb-like(data-href='https://developers.facebook.com/docs/plugins/', data-width='100', data-layout='button_count', data-action='like', data-show-faces='false', data-share='true')

         nav.menu
             ul#navBits
                li
                    a(href='/') About
                li
                    a(href='/') Feedback
                li
                    a(href='/') Contribute!


      //// This is the div that houses our thumbnail image grid.
      ////.main(style='display: none')
      //.main
      //   .header
      //      a
      //         h1 Old Astoria
      //
      //      button#mainCloseButton &times
      //
      //      h2.location
      //   // Add close button
      //   //span.og-close
      //
      //// This is the div the houses the larger views of our images.
      //#og-details-template(style='display:none')
      //   h1
      //      b.title TESTING
      //   hr(style='width:50%;')
      //   br
      //   p.dscrptn STUFF AND THINGS
      //   br
      //   p Source:
      //      em.picSource THE WHO
      //   br
      //   p Errors?
      //    a.error( href="#") &nbsp;Send Feedback.
      //    br
      //   hr(style='width:50%;')
      //   br
      //   .fb-comments-container
      //      .social
      //        ul
      //          li(style="margin-top:5.5px")
      //              a.twitter-share-button(href='https://twitter.com/share', data-count='none', data-hashtags='oldastoria') Tweet
      //                 script.
      //                  !function (d, s, id) {
      //                      var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
      //                      if (!d.getElementById(id)) {
      //                          js = d.createElement(s);
      //                          js.id = id;
      //                          js.src = p + '://platform.twitter.com/widgets.js';
      //                          fjs.parentNode.insertBefore(js, fjs);
      //                      }
      //                  }(document, 'script', 'twitter-wjs');
      //
      //          li
      //            .fb-like(data-href='https://developers.facebook.com/docs/plugins/', data-width='100', data-layout='button_count', data-action='like', data-show-faces='false', data-share='true')
      //        .fb-comments(data-href='http://developers.facebook.com/docs/plugins/comments/', data-width='100%', data-order-by = 'time', data-numposts = '1')
      //
      //// This div contains the google map.
      //#map-canvas
      //
      //include ./partials/maps_api_key
      //
      //
      //script(src='http://code.jquery.com/jquery-1.11.0.min.js', type='text/javascript')
      //// Bootstrap JS CDN --
      //// script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js)
      //// script(src="static/js/dotData.js" type="text/javascript")
      //// script(src='static/js/theAstoriaMap.js', type='text/javascript')
      //// Local Bootstrap JS
      //script(src = 'static/js/bootstrap_compiled/js/bootstrap.js', type = "text/javascript")
      //script(src='static/js/dotData.js', type='text/javascript')
      //script(src='static/js/dotOverlay.js', type='text/javascript')
      //script(src='static/js/navOverlays.js', type='text/javascript')
      //script(src='static/js/theAstoriaMap.js', type='text/javascript')
      //
      //script(src='static/js/expandable-image-grid-master/modernizr.custom.js', type='text/javascript')
      //script(src='static/js/expandable-image-grid-master/grid.js', type='text/javascript')
      //#fb-root
      //script.
      //      (function (d, s, id) {
      //          var js, fjs = d.getElementsByTagName(s)[0];
      //          if (d.getElementById(id)) return;
      //          js = d.createElement(s);
      //          js.id = id;
      //          js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4";
      //          fjs.parentNode.insertBefore(js, fjs);
      //      }(document, 'script', 'facebook-jssdk'));