//
   Created by kevinGphillips on 9/11/15.
doctype html
html
   head

      //link(rel='stylesheet', href='static/css/normalize.css')
      link(rel='stylesheet', href='static/js/expandable-image-grid-master/grid.css')
      link(rel='stylesheet', href='static/css/main.css')

      // Add link to thumbGEPrev css!
      // <link href='http://fonts.googleapis.com/css?family=Ultra|Fjalla+One|Francois+One' rel='stylesheet' type='text/css'>
      link(href='https://fonts.googleapis.com/css?family=Lora', rel='stylesheet', type='text/css')
      title Old Astoria
   body

      header
         a(href='/')
            h1 Old Astoria
         #littlebits
            | a mapping of historical photos from the
            br
            a(href='http://www.cumtux.org/', target='_blank') Clatsop County Historical Society
         nav
            ul#navBits
               // <li><a href="#">Before the fire of 1922</a></li>
               // <li><a href="#">After 1922</a></li>
               li
                  a(href='/') About
               li
                  a(href='/') Feedback
               li
                  a(href='/') Contribute!


      // This is the div that houses our thumbnail image grid.
      //.main(style='display: none')
      .main
         .header
            span
               h1 Old Astoria
            span
               button#mainCloseButton &times

            h2.location
         // Add close button
         //span.og-close

      // This is the div the houses the larger views of our images.
      #og-details-template(style='display:none')
         h1
            b.title TESTING
         hr(style='width:50%;')
         br
         p.dscrptn STUFF AND THINGS
         br
         p Source:
            em.picSource THE WHO
         br
         p Errors?
          a.error( href="#") &nbsp;Send Feedback.
          br
         hr(style='width:50%;')
         br
         .fb-comments-container
            .fb-comments(data-href='http://developers.facebook.com/docs/plugins/comments/', data-width='100%', data-order-by = 'time', data-numposts = '1')

      // This div contains the google map.
      #map-canvas

      include ./partials/maps_api_key

      script(src='static/js/gePreview/modernizr.custom.js')
      script(src='http://code.jquery.com/jquery-1.11.0.min.js', type='text/javascript')

      // script(src="static/js/dotData.js" type="text/javascript")
      // script(src='static/js/theAstoriaMap.js', type='text/javascript')
      script(src='static/js/dotDataDev.js', type='text/javascript')
      script(src='static/js/dotOverlay.js', type='text/javascript')
      script(src='static/js/navOverlays.js', type='text/javascript')
      script(src='static/js/theAstoriaMapDev.js', type='text/javascript')

      script(src='static/js/expandable-image-grid-master/modernizr.custom.js', type='text/javascript')
      script(src='static/js/expandable-image-grid-master/grid.js', type='text/javascript')
      #fb-root
      script.
            (function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s);
                js.id = id;
                js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));